body{
    font-family: sans-serif;
}
.but{
    height: 70px;
    background-color: blue;
    margin:20px 500px 0 0;
}
.img{
    width:100px;
    height:100px;
}
.registre{
    width: 600px;
    height: 300px;
    border-radius: 40px;
    
}
.send{
    background-color: rgb(0, 26, 255);
}
.div{
    cursor: pointer;
    transition: 1s;
    background-color: blue;
    height: 40px;
    width:  190px;
    border-radius:30px;
    margin:30px auto auto;
    padding:10px;
    font-weight: 600;
}
.div:hover{
    cursor:pointer;
    transform:translateY(10px);
    transition:2s;
}

.vox{
    margin:auto auto;
}
.USTECH{
    width: 20px;
    height: 30px;
}
.col{
    transition: 1s;
    background-color:white;
    border-radius:30px;
    cursor: pointer;
    min-height:410px;
    padding:30px auto auto;
   
}
.col:hover{
    transform:translateY(+20px);
    transition: 1s;
}

.class{
    transition:1s;
}
.class:hover{
    transform:translateY(+20px);
    transition: 1s;
}
.pox{
    transition: 1s;
    background-color:white;
    border-radius:30px;
    cursor: pointer;
    min-height:300px;
    padding:30px auto auto;
   
}
.pox:hover{
    transform:translateY(+20px);
    transition: 1s;
}





